.toolbar{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    color: white;
   padding-left: 40px;
   padding-right: 40px;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 100;

}
.title {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.button_container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.navbar_icon {
  color: white;
  }